{% extends 'base.html' %}
{% block title %}Экспорт / импорт{% endblock %}
{% block header %}
<h1>Экспорт / импорт</h1>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(request) %}
<div class="{{ message.category }}" role="alert">{{ message.message }}</div>
{% endfor %}

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <div class="mb-3">

            <form action="{{url_for('import_board', board_id=board.id)}}" enctype="multipart/form-data" method="post">
                <label for="file" class="form-label">CSV файл с доской (кодировка - UTF-8)</label>
                <input class="form-control" name="file" id="file" type="file" required>
                <input type="submit" value="Импортировать" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>


{% endblock %}